<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flatmetalpatterns.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FlatMetalPatterns</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/36x36.png" />
        <icon density="mdpi" src="res/icon/android/48x48.png" />
        <icon density="hdpi" src="res/icon/android/72x72.png" />
        <icon density="xhdpi" src="res/icon/android/96x96.png" />
        <splash density="land-hdpi" src="res/screen/android/1024x783.png" />
        <splash density="land-ldpi" src="res/screen/android/1024x783.png" />
        <splash density="land-mdpi" src="res/screen/android/1024x783.png" />
        <splash density="land-xhdpi" src="res/screen/android/1024x783.png" />
        <splash density="port-hdpi" src="res/screen/android/720x1280.png" />
        <splash density="port-ldpi" src="res/screen/android/200x320.png" />
        <splash density="port-mdpi" src="res/screen/android/480x800.png" />
        <splash density="port-xhdpi" src="res/screen/android/720x1280.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-inapppurchase" spec="^1.2.0" />
    <engine name="android" spec="^7.1.4" />
</widget>
