#graficaMetodoAguila .dgde {
    top: calc(88.5%);
    left: calc(40% - 2vw);
}
#graficaMetodoAguila .p1 {
    top: calc(91%);
    left: calc(23% - 2vw);
}


#graficaMetodoAguila .d1 {
    top: calc(65.5%);
    left: calc(20% - 5vw);
}

#graficaMetodoAguila .d2 {
    top: calc(48.5%);
    left: calc(35.5% - 2vw);
}

#graficaMetodoAguila .d3 {
    top: calc(28.5%);
    left: calc(50.5% - 2vw);
}

#graficaMetodoAguila .d4 {
    top: calc(18%);
    left: calc(70% - 2vw);
}

#graficaMetodoAguila .d5 {
    top: calc(16%);
    left: calc(91.5% - 2vw);
}

#graficaMetodoAguila .e1 {
    top: calc(26.5%);
    left: calc(17% - 2vw);
}

#graficaMetodoAguila .e2 {
    top: calc(16.5%);
    left: calc(36.5% - 2vw);
}

#graficaMetodoAguila .e3 {
    top: calc(10%);
    left: calc(58.5% - 2vw);
}

#graficaMetodoAguila .e4 {
    top: calc(12%);
    left: calc(80.5% - 2vw);
}



#graficaMetodoAguila .p2 {
    top: calc(63%);
    left: calc(13.5% - 2vw);
}
#graficaMetodoAguila .p3 {
    top: calc(35%);
    left: calc(21.5% - 2vw);
}
#graficaMetodoAguila .p4 {
    top: calc(13%);
    left: calc(37.5% - 2vw);
}
#graficaMetodoAguila .p5 {
    top: calc(1%);
    left: calc(78.5% - 2vw);
}
#graficaMetodoAguila .p6 {
    top: calc(23%);
    left: calc(66.5% - 2vw);
}
#graficaMetodoAguila .p7 {
    top: calc(53%);
    left: calc(63.5% - 2vw);
}
#graficaMetodoAguila .p8 {
    top: calc(77%);
    left: calc(67.5% - 2vw);
}
#graficaMetodoAguila .p9 {
    top: calc(90%);
    left: calc(69% - 2vw);
}